@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    <script src="~/JS/Test.js"></script>
}

<input type="hidden" id="ip" value="@ViewBag.Ip"/>
<div class="jumbotron">
     <span>Test</span>

    <div id="thediv"></div>
   
    @*<span>Pop up</span>
    <iframe id="ifr" >

    </iframe>*@
</div>

